/* Reset default browser spacing */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*Header */
header {
    background-color: #D49E8D;
    color: rgb(137, 70, 70);
    text-align: center;
    padding: 20px;    
}

/* Navigation */
nav {
    background-color: #c39584;
    padding: 10px;
    text-align: center; 
    color: white;  
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav a hover {
    text-decoration: underline;
}

/* Main Content */
main{
    padding:20px;
}

/* Section */
section {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;;
} 
img {
    max-width: 300px;
    max-height: 700px;
}
.intro { 
    margin-top: 20px;
}

.intro h2 {
    font-size: 30px;
}

.intro p {
    font-size: 18px;
    margin-top: 5px;
}

.product container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    /* centers images horizontally */
    padding: 10px;
    align-items: center;
    flex-direction: row;
}

#Grey Fur Coat {
    float: right;
}

/* Products */
.product {
    background-color: #E4CEBE;
    margin: 5px;
    padding: 10px;
    width: calc((100% / 3) - 40px);
    text-align: center;
    border: 2px solid #621713;
}

.product img {
    max-width: 70%;
    height: auto;
    margin-bottom: 5px;
}

.product h2 {
    color: #0c0c0c;
    margin-bottom: 5px;
    font-size: 18px;
}

.price {
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}

.header-content h1 {
    margin: 0;
    flex-grow: 1;
}

body{
    background-color: #E4CEBE;
}

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: white;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #D49E8D;
}
.heading p{
    font-size: 18px;
    color: black;
    margin-bottom: 2px;
}

.container{
    width: 75%;
    margin: 30px auto;
    padding: 10px 20px;

}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 0px;
    overflow: hidden;
}
.about-image img{
    max-width: 100%;
    height: 400px;         /* Height of the image */
    width: 400px;          /* Width of the image */
    display: block;
    transition:0.5s ease;
    float: left;
    border: 3px solid #621713;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 10px;
}    
    
.about-content{
    flex: 1;
    display: grid;
    margin-left: 35px;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 10px;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
}

li {
    font-size: 18px;
    margin-bottom: 5px;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 3px solid #D49E8D;
    margin-top: 10px;
    resize: vertical;
    border-radius: 8px;
    border-color: #D49E8D;
}

input[type=submit] {
    background-color: #E4CEBE;
    color: #621713;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #D49E8D;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #E4CEBE;  /* Body Background-colour */
    padding: 10px;
}

.container h1 {
   font-family: arial, sans-serif;
   font-size: 45px;
   margin-top: 10px;
} 

.container p {
    font-family: arial, sans serif;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.column {
    font-family: arial, sans-serif;
    font-size: 16px;
    padding: 2px;
    margin-right: 500px;
    margin-left: 2px;
    margin: 40px;
}

footer {
    background-color: #D49E8D;
    color: white;
    text-align: center;
    padding: 30px 0;
}

